!!!
%html
  %head
  %body
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name ã‚ˆã¤ã°ã¨!
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              %a{:href => "/test"}
                %i=fa_icon "edit"
            %li.side-header__box__menu__edit-user
              %a{:href => "/test"}
                %i.fa.fa-cog
      .groups
        .group
          %a{:href => "/test/"}
            %p.group__group-name aaa
            %p.group__latest-message bbbbbbbb
    
    .chat-main
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group current-group
          %ul.main-header__left-box__member-list Member : member-list
        %a{:href => "/edit"}
          .main-header__edit-btn Edit
      .messages
        .massage
          .massage__infomation
            %p.massage__infomation__name  upper-name
            %p.massage__infomation__date  2019/06/03(Mon) 12:06:02
          %p.massage__text fffffffffffff
      .form
        %form.new-massage
          .input-box
            %input.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
            %label.input-box__image
              %i.fa.fa-image

          %input.submit-btm{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/