.flash-box
  .notice
.wrapper
  .chat-side
    = render "messages/side-header"
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group current-group
        %ul.main-header__left-box__member-list Member : member-list
      = link_to '問題のところ' do
        .main-header__edit-btn Edit
    .messages
      = render "messages/message"
    .form
      %form.new-massage
        .input-box
          %input.input-box__text{name: "message[content]",placeholder: "type a message",type: "text"}/
          %label.input-box__image
            %i.fa.fa-image
        %input.submit-btm{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/

    -# .form
    -#   = form_for [@group, @message] do |f|
    -#     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    -#     .form__mask
    -#       = f.label :image, class: 'form__mask__image' do
    -#         = fa_icon 'picture-o', class: 'icon'
    -#         = f.file_field :image, class: 'hidden'
    -#     = f.submit 'Send', class: 'form__submit'